# Created by https://www.toptal.com/developers/gitignore/api/java,gradle,intellij+all,windows,macos,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=java,gradle,intellij+all,windows,macos,visualstudiocode

### Querydsl
**/src/main/generated

### IntelliJ
.idea/

### Gradle
.gradle/

### Build
build/
out/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Etc
/testutils/**/*
/.java-version
