lombok.Setter.flagUsage = error
lombok.AllArgsConstructor.flagUsage = error
lombok.data.flagUsage= error
lombok.ToString.flagUsage = warning
lombok.anyConstructor.addConstructorProperties=true

# https://www.baeldung.com/lombok-configuration-system
# https://velog.io/@shinhyocheol/Lombok-%EA%B3%BC-Jackson-Deserialize-%EA%B4%80%EA%B3%84